export EMAIL="jens@rootsy.nu"

export MINIO_VERSION="latest"
export MINIO_ROOT_USER="$(echo -n "<username>" | base64)"
export MINIO_ROOT_PASS="$(echo -n "<password>" | base64)"
export MINIO_FQDN="<fqdn>"
export MINIO_SERVER_URL="https://${MINIO_FQDN}"
export MINIO_CONSOLE_FQDN="console.${MINIO_FQDN}"
export MINIO_CONSOLE_URL="https://$MINIO_CONSOLE_FQDN"
export MINIO_TLS_SECRET="s3-tls"
export MINIO_CONSOLE_TLS_SECRET="console-s3-tls"


export MONGODB_VERSION="7.0"
export MONGODB_ROOT_USER="$(echo -n "<username>" | base64)"
# Note: Password must be URL encoded.
# jq -sRr @uri can encode if needed 
export MONGODB_ROOT_PASS="$(echo -n "<password>" | base64)"

export REGISTRY_FQDN="<fqdn>"


export MYSQL_VERSION="latest"
export MYSQL_ROOT_PASS="$(echo -n "setme" | base64)"
export MYSQL_PHPMYADMIN_FQDN="phpmyadmin.pedell.net"

export RECIPES_VERSION="1.0.0"
export RECIPES_IMAGE="${REGISTRY_FQDN}/recipes"
export RECIPES_FQDN="<fqdn>"


export TABS_VERSION="1.1.3"
export TABS_IMAGE="${REGISTRY_FQDN}/tabs"
export TABS_MYSQL_PASS="$(echo -n "<password>" | base64)"
export TABS_FQDN="<fqdn>"

export UNIFI_VERSION="latest"
export UNIFI_MONGODB_USER="${MONGODB_ROOT_USER}"
export UNIFI_MONGODB_PASS="${MONGODB_ROOT_PASS}"
export UNIFI_FQDN="<fqdn>"

export DGRAPH_VERSION="latest"
